.App {
  text-align: center;
  
}
body{
  background-color: #b4b4b4;
  
}
.textinside{
  word-wrap: break-word;
  font-size: 20px;
  width: 200px;
  padding: 0px 17px;
  overflow-y: auto;
  max-height: 80px;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(204, 200, 193);
  border-bottom: 2px solid;
  border-color: rgb(117, 117, 117);
  margin-bottom: 30px;

}
.Oii{
  background-color: rgb(88, 88, 88);
  width: 200px;
  height: 100px;
  transition: 0.4s;
  margin: 2px;
  position: absolute;
  right: 570px;
  z-index: 2;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid rgb(59, 59, 59);
  box-shadow: 7px 7px 20px rgb(70, 70, 70);
  scale: 2;
}
input{
  margin-top: 7px;
  width: 170px;
  height: 20px;
}
button{
  width: 80px;
  height: 30px;
  margin-top: 10px;
}
.Oi{
  background-color: rgb(88, 88, 88);
  width: 200px;
  height: 100px;
  transition: 0.4s;
  margin: 2px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid rgb(59, 59, 59);
  box-shadow: 7px 7px 20px rgb(70, 70, 70);
}
.Oi:hover{
  scale: 1.2;
}

.pai{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.excluir{
  border-radius: 100%;
  transition: 0.2;
  border: 1px solid rgba(0, 0, 0, 0.527);
  height: 20px;
  margin-bottom: 5px;
  background-color: #ff7a7a;
  width: 20px;
}
.excluir:hover{
  scale: 1.2;
}
