.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body{
  background-color: #222222;
  overflow-y: auto;
  
}
.textinside{
  word-wrap: break-word;
  font-size: 20px;
  width: 200px;
  padding: 0px 17px;
  overflow-y: auto;
  max-height: 80px;
}
.textinside2{
  height: 90%;
  font-size: 15px;
  word-wrap: break-word;
  overflow-y: auto;
}
header{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(63, 63, 63);
  border-bottom: 2px solid;
  border-color: rgb(238, 238, 238);
  margin-bottom: 30px;
}


.Oii{
  background-color: rgb(214, 214, 214);
  min-width: 20%;
  max-width: 30%;
  height: 25%;
  margin-top: 80vh;
  transition: 0.3s;
  position: fixed;
  z-index: 2;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgb(59, 59, 59);
  box-shadow: 7px 7px 20px rgb(31, 31, 31);
  scale: 2;
}

input{
  margin-top: 7px;
  width: 190px;
  height: 30px;
  background-color: #bcb8c0;
  border: solid rgb(255, 255, 255);
  border-radius: 10px;
  border-width: 2px;
}
button{
  width: 80px;
  height: 30px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.513);
}
.Oi{
  background-color: rgb(88, 88, 88);
  width: 200px;
  height: 100px;
  transition: 0.4s;
  margin: 2px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid rgb(59, 59, 59);
  box-shadow: 7px 7px 20px rgb(70, 70, 70);
}
.Oi:hover{
  scale: 1.2;
  z-index: 3;
}

.pai{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.excluir{
  border-radius: 100%;
  transition: 0.2;
  border: 1px solid rgba(0, 0, 0, 0.527);
  height: 20px;
  margin-bottom: 5px;
  background-color: #ff7a7a;
  width: 20px;
}
.excluir:hover{
  scale: 1.2;
}
